In [1]:
import pandas as pd

In [2]:
alunos = pd.read_csv("SUP_ALUNO_2019.csv", sep="|", encoding='ISO-8859-1')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
ies = pd.read_csv("SUP_IES_2019.csv", sep="|", encoding='ISO-8859-1')

ies_df = ies[ies["CO_REGIAO"] == 5]
ies_df_codigos = ies_df["CO_IES"].values.tolist()

ies_df.to_csv('SUP_IES_2019_CENTRO_OESTE_com_indice.csv', sep=";", encoding='ISO-8859-1', index = True)
ies_df.to_csv('SUP_IES_2019_CENTRO_OESTE_sem_indice.csv', sep=";", encoding='ISO-8859-1', index = False)
ies_df

,NU_ANO_CENSO,CO_IES,NO_IES,SG_IES,CO_MANTENEDORA,NO_MANTENEDORA,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_REGIAO,CO_UF,...,VL_RECEITA_PROPRIA,VL_RECEITA_TRANSFERENCIA,VL_RECEITA_OUTRA,VL_DESPESA_PESSOAL_DOCENTE,VL_DESPESA_PESSOAL_TECNICO,VL_DESPESA_PESSOAL_ENCARGO,VL_DESPESA_CUSTEIO,VL_DESPESA_INVESTIMENTO,VL_DESPESA_PESQUISA,VL_DESPESA_OUTRA
0,2019,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,5,51,...,8.075408e+06,9.190156e+08,0.00,2.737906e+08,1.089490e+08,1.050124e+08,1.225790e+08,9606414.13,2512494.15,3.046410e+08
1,2019,2,UNIVERSIDADE DE BRASÍLIA,UNB,2,FUNDACAO UNIVERSIDADE DE BRASILIA,1,1,5,53,...,4.230949e+07,6.376632e+07,53681013.45,8.438613e+08,0.000000e+00,2.873756e+08,2.102659e+08,23154904.42,10350582.30,4.738549e+08
13,2019,19229,FACULDADE PRESBITERIANA MACKENZIE BRASILIA,FPMB,22,INSTITUTO PRESBITERIANO MACKENZIE,5,3,5,53,...,8.571708e+05,0.000000e+00,337.00,6.311300e+05,5.912703e+05,4.726691e+05,0.000000e+00,336712.12,497261.48,3.157247e+06
107,2019,47,UNIVERSIDADE ESTADUAL DE GOIÁS,UEG,42,UNIVERSIDADE ESTADUAL DE GOIAS,2,1,5,52,...,2.336912e+07,3.350741e+08,798107.34,1.749546e+08,6.185244e+07,5.259533e+07,3.582110e+07,1023332.32,1533811.15,0.000000e+00
132,2019,3974,UNIVERSIDADE DE RIO VERDE,FESURV,73,FESURV - UNIVERSIDADE DE RIO VERDE,3,1,5,52,...,1.750484e+08,0.000000e+00,99431.11,4.359668e+07,2.906446e+07,1.220138e+07,3.251845e+07,14176041.26,13532113.12,1.293919e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2578,2019,1374,FACULDADE DE GUARANTÃ DO NORTE,UNIFAMA,17217,UNIFAMA - UNIAO DAS FACULDADES DE MATO GROSSO ...,4,3,5,51,...,6.865985e+06,0.000000e+00,255000.00,1.325958e+06,1.345646e+06,9.176560e+05,4.500000e+05,1300000.00,1800000.00,0.000000e+00
2579,2019,22204,Faculdade de Matupá,UNIFAMA,17217,UNIFAMA - UNIAO DAS FACULDADES DE MATO GROSSO ...,4,3,5,51,...,3.534852e+05,0.000000e+00,25000.00,1.152015e+05,4.473810e+04,5.278007e+04,2.100000e+04,87000.00,20000.00,0.000000e+00
2581,2019,23725,Escola Superior de Gestão,ESGe,17224,FUNDACAO UNIVERSIDADE ABERTA DO DISTRITO FEDERAL,2,3,5,53,...,0.000000e+00,4.541080e+05,0.00,3.787660e+05,7.534200e+04,0.000000e+00,0.000000e+00,0.00,0.00,0.000000e+00
2586,2019,4123,Faculdade de Gestão e Inovação,FGI,17280,CENTRO EDUCACIONAL INOVA MAIS LTDA,4,3,5,52,...,4.528932e+05,0.000000e+00,0.00,7.850421e+04,1.227894e+05,3.327392e+04,8.800000e+04,12500.00,0.00,5.791284e+04
2590,2019,22326,Faculdade Brasília,FBr,17348,UP10 EDUCACIONAL LTDA,4,3,5,53,...,7.964292e+05,0.000000e+00,0.00,1.592018e+05,1.799740e+05,7.979297e+04,3.666358e+05,6052134.89,0.00,0.000000e+00

In [4]:
docentes = pd.read_csv("SUP_DOCENTE_2019.csv", sep="|", encoding='ISO-8859-1')

docentes_df = docentes[docentes["CO_IES"].isin(ies_df_codigos)]

docentes_df.to_csv('SUP_DOCENTE_2019_CENTRO_OESTE_com_indice.csv', sep=";", encoding='ISO-8859-1', index = True)
docentes_df.to_csv('SUP_DOCENTE_2019_CENTRO_OESTE_sem_indice.csv', sep=";", encoding='ISO-8859-1', index = False)
docentes_df

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_DOCENTE_IES,ID_DOCENTE,TP_SITUACAO,TP_ESCOLARIDADE,TP_REGIME_TRABALHO,TP_SEXO,...,IN_ATUACAO_GRAD_PRESENCIAL,IN_ATUACAO_POS_EAD,IN_ATUACAO_POS_PRESENCIAL,IN_ATUACAO_SEQUENCIAL,IN_ATUACAO_PESQUISA,IN_BOLSA_PESQUISA,IN_SUBSTITUTO,IN_EXERCICIO_DATA_REFERENCIA,IN_VISITANTE,TP_VISITANTE_IFES_VINCULO
0,2019,1,1,1,1178692,EC5AA8E675AD29C50386820A3F3E9F97,1,5,1.0,2,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN
1,2019,1,1,1,1178691,DDA849C5C6275470F9175628F502218E,1,4,1.0,2,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
2,2019,1,1,1,1178693,2FF35722D03A9C6459FB5470F17F6709,1,3,1.0,2,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
3,2019,1,1,1,1180431,C5AB8500E4EC686BFFF71870108EA10A,1,5,1.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
4,2019,1,1,1,1178686,60FD7BF0222B1B16D19D9E4E08D4178A,1,5,1.0,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399395,2019,23725,2,3,1343355,3FB8604F420712C6A2B7570F77E6BBD0,1,3,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
399396,2019,23725,2,3,1343317,B9E4454E745DCBB03EE9132AD5038D17,1,2,1.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
399397,2019,23725,2,3,1343320,36F9A8C6B336EC755E0B3C584D8A7EFB,1,3,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
399398,2019,23725,2,3,1343321,7EBFC7D7772A2CDDF05481C72784317C,1,3,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
399399,2019,23725,2,3,1343322,DB1C16406A861DABCB9156B7926986AF,1,3,4.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN

In [5]:
cursos = pd.read_csv("SUP_CURSO_2019.csv", sep="|", encoding='ISO-8859-1')

cursos_df = cursos[cursos["CO_IES"].isin(ies_df_codigos)]

cursos_df.to_csv('SUP_CURSO_2019_CENTRO_OESTE_com_indice.csv', sep=";", encoding='ISO-8859-1', index = True)
cursos_df.to_csv('SUP_CURSO_2019_CENTRO_OESTE_sem_indice.csv', sep=";", encoding='ISO-8859-1', index = False)
cursos_df

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_LOCAL_OFERTA,CO_UF,CO_MUNICIPIO,IN_CAPITAL,CO_CURSO,NO_CURSO,...,QT_VAGAS_ANUAL_VESPERTINO,QT_VAGAS_ANUAL_NOTURNO,QT_VAGAS_ANUAL_EAD,QT_MATRICULA_TOTAL,QT_CONCLUINTE_TOTAL,QT_INGRESSO_TOTAL,QT_INGRESSO_VAGA_NOVA,QT_INGRESSO_PROCESSO_SELETIVO,QT_VAGA_TOTAL,QT_INSCRITO_TOTAL
0,2019,1,1,1,105340.0,51.0,5103403.0,1.0,1,DIREITO,...,NaN,NaN,NaN,447,75,90,87,NaN,90,2633
1,2019,1,1,1,105340.0,51.0,5103403.0,1.0,2,CIÊNCIAS ECONÔMICAS,...,NaN,NaN,NaN,323,28,115,107,NaN,128,937
2,2019,1,1,1,105340.0,51.0,5103403.0,1.0,3,ENGENHARIA CIVIL,...,NaN,NaN,NaN,248,45,52,52,NaN,55,520
3,2019,1,1,1,105340.0,51.0,5103403.0,1.0,6,PEDAGOGIA,...,NaN,NaN,NaN,331,53,98,97,NaN,100,1422
4,2019,1,1,1,105340.0,51.0,5103403.0,1.0,7,SERVIÇO SOCIAL,...,NaN,NaN,NaN,274,32,97,81,NaN,99,1239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40667,2019,22592,4,3,1082430.0,52.0,5204508.0,0.0,1407701,ENFERMAGEM,...,NaN,NaN,NaN,51,0,68,68,NaN,100,138
40668,2019,22592,4,3,1082430.0,52.0,5204508.0,0.0,1407703,ODONTOLOGIA,...,NaN,NaN,NaN,31,0,33,33,NaN,150,138
40669,2019,22592,4,3,1082430.0,52.0,5204508.0,0.0,1407706,PSICOLOGIA,...,NaN,NaN,NaN,56,0,75,75,NaN,150,218
40670,2019,22592,4,3,1082430.0,52.0,5204508.0,0.0,1407708,DIREITO,...,NaN,NaN,NaN,89,0,103,103,NaN,150,241
40705,2019,23725,2,3,1096330.0,53.0,5300108.0,1.0,1454890,GESTÃO PÚBLICA,...,NaN,NaN,NaN,35,0,58,19,NaN,60,168

In [6]:
alunos_df = alunos[alunos["CO_IES"].isin(ies_df_codigos)]

alunos_df.to_csv('SUP_ALUNO_2019_CENTRO_OESTE_com_indice.csv', sep=";", encoding='ISO-8859-1', index = True)
alunos_df.to_csv('SUP_ALUNO_2019_CENTRO_OESTE_sem_indice.csv', sep=";", encoding='ISO-8859-1', index = False)
alunos_df

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
1,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2016
2,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2015
4,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12350457,2019,23725,2,3,1454890,NaN,3.0,3.0,1,1,...,NaN,NaN,NaN,NaN,0,0,1,1,NaN,2019
12350458,2019,23725,2,3,1454890,NaN,3.0,3.0,1,1,...,NaN,NaN,NaN,NaN,0,0,1,0,NaN,2019
12350459,2019,23725,2,3,1454890,NaN,3.0,3.0,1,1,...,NaN,NaN,NaN,NaN,0,0,1,1,NaN,2019
12350460,2019,23725,2,3,1454890,NaN,3.0,3.0,1,1,...,NaN,NaN,NaN,NaN,0,0,1,0,NaN,2019
12350461,2019,23725,2,3,1454890,NaN,3.0,3.0,1,1,...,NaN,NaN,NaN,NaN,0,0,1,0,NaN,2019

In [8]:
print(alunos_df.shape)

(1136361, 105)