In [1]:
import pandas as pd

In [2]:
alunos = pd.read_csv("SUP_ALUNO_2019.csv", sep="|", encoding='ISO-8859-1')

alunos.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
1,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2016
2,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2015
4,2019,1,1,1,1,NaN,3.0,1.0,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2013

In [3]:
ies = pd.read_csv("SUP_IES_2019.csv", sep="|", encoding='ISO-8859-1')

ies_df = ies[ies["CO_UF"] == 53]
ies_df_codigos = ies_df["CO_IES"].values.tolist()

ies_df.to_csv('SUP_IES_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)
ies_df

,NU_ANO_CENSO,CO_IES,NO_IES,SG_IES,CO_MANTENEDORA,NO_MANTENEDORA,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_REGIAO,CO_UF,...,VL_RECEITA_PROPRIA,VL_RECEITA_TRANSFERENCIA,VL_RECEITA_OUTRA,VL_DESPESA_PESSOAL_DOCENTE,VL_DESPESA_PESSOAL_TECNICO,VL_DESPESA_PESSOAL_ENCARGO,VL_DESPESA_CUSTEIO,VL_DESPESA_INVESTIMENTO,VL_DESPESA_PESQUISA,VL_DESPESA_OUTRA
1,2019,2,UNIVERSIDADE DE BRASÍLIA,UNB,2,FUNDACAO UNIVERSIDADE DE BRASILIA,1,1,5,53,...,4.230949e+07,63766319.01,53681013.45,8.438613e+08,0.00,2.873756e+08,2.102659e+08,23154904.42,10350582.30,4.738549e+08
13,2019,19229,FACULDADE PRESBITERIANA MACKENZIE BRASILIA,FPMB,22,INSTITUTO PRESBITERIANO MACKENZIE,5,3,5,53,...,8.571708e+05,0.00,337.00,6.311300e+05,591270.29,4.726691e+05,0.000000e+00,336712.12,497261.48,3.157247e+06
350,2019,402,CENTRO UNIVERSITÁRIO DE BRASÍLIA,UNICEUB,277,CENTRO DE ENSINO UNIFICADO DE BRASILIA CEUB,5,2,5,53,...,4.495063e+08,0.00,1493004.44,7.278375e+07,75818095.76,5.437467e+07,4.920841e+07,2959532.24,22552554.71,4.414096e+07
353,2019,403,UNIVERSIDADE CATÓLICA DE BRASÍLIA,UCB,278,UNIAO BRASILEIRA DE EDUCACAO CATOLICA,5,1,5,53,...,1.528296e+08,0.00,65919140.27,6.621465e+07,25210633.28,2.529374e+07,2.044882e+07,5344744.04,6526798.71,2.242813e+07
355,2019,404,FACULDADES INTEGRADAS DA UPIS,UPIS,279,UNIAO PIONEIRA DE INTEGRACAO SOCIAL,5,3,5,53,...,2.667471e+07,0.00,4385233.33,1.228608e+07,5265461.81,6.718775e+06,6.116811e+06,1230416.52,254867.15,6.780349e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,2019,21201,FTRB - Faculdade Teológica Reformada de Brasília,NaN,16519,FUNDACAO EXPOSICAO BIBLICA,5,3,5,53,...,1.933662e+05,449.58,944.82,8.989754e+04,30135.00,1.222044e+04,2.706571e+04,0.00,0.00,3.497372e+04
2467,2019,21446,Instituto Superior da Convenção Nac. das Assem...,ISCON,16568,CONVENCAO NAC ASS DE DEUS NO BRASIL MINIST MAD...,5,3,5,53,...,1.116760e+06,23276.19,126281.40,1.559928e+05,82287.62,1.209119e+05,0.000000e+00,0.00,0.00,0.000000e+00
2489,2019,21672,Faculdade Cerrado,FACE,16659,FACULDADE CERRADO EIRELI - ME,4,3,5,53,...,1.000000e+05,0.00,0.00,3.800000e+04,14000.00,0.000000e+00,3.500000e+04,0.00,0.00,0.000000e+00
2581,2019,23725,Escola Superior de Gestão,ESGe,17224,FUNDACAO UNIVERSIDADE ABERTA DO DISTRITO FEDERAL,2,3,5,53,...,0.000000e+00,454108.00,0.00,3.787660e+05,75342.00,0.000000e+00,0.000000e+00,0.00,0.00,0.000000e+00
2590,2019,22326,Faculdade Brasília,FBr,17348,UP10 EDUCACIONAL LTDA,4,3,5,53,...,7.964292e+05,0.00,0.00,1.592018e+05,179973.96,7.979297e+04,3.666358e+05,6052134.89,0.00,0.000000e+00

In [4]:
docentes = pd.read_csv("SUP_DOCENTE_2019.csv", sep="|", encoding='ISO-8859-1')

docentes_df = docentes[docentes["CO_IES"].isin(ies_df_codigos)]

docentes_df.to_csv('SUP_DOCENTE_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)
docentes_df

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_DOCENTE_IES,ID_DOCENTE,TP_SITUACAO,TP_ESCOLARIDADE,TP_REGIME_TRABALHO,TP_SEXO,...,IN_ATUACAO_GRAD_PRESENCIAL,IN_ATUACAO_POS_EAD,IN_ATUACAO_POS_PRESENCIAL,IN_ATUACAO_SEQUENCIAL,IN_ATUACAO_PESQUISA,IN_BOLSA_PESQUISA,IN_SUBSTITUTO,IN_EXERCICIO_DATA_REFERENCIA,IN_VISITANTE,TP_VISITANTE_IFES_VINCULO
2360,2019,2,1,1,1294550,3DF061642E3E30DF334AFF1FCDB275A7,1,5,1.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
2361,2019,2,1,1,1292727,76A49E2637DD1B190FB8018B84A800B9,1,5,1.0,2,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
2362,2019,2,1,1,1293629,96B03CD0F1818077675B44A23CAF9271,1,5,1.0,2,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
2363,2019,2,1,1,1293969,4C8312AAA56B6C7FFC08ACBE9BCAA810,1,4,1.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
2364,2019,2,1,1,1291977,0E84607DD2B320390EBAA3A89B55E446,1,5,1.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399395,2019,23725,2,3,1343355,3FB8604F420712C6A2B7570F77E6BBD0,1,3,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
399396,2019,23725,2,3,1343317,B9E4454E745DCBB03EE9132AD5038D17,1,2,1.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
399397,2019,23725,2,3,1343320,36F9A8C6B336EC755E0B3C584D8A7EFB,1,3,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
399398,2019,23725,2,3,1343321,7EBFC7D7772A2CDDF05481C72784317C,1,3,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
399399,2019,23725,2,3,1343322,DB1C16406A861DABCB9156B7926986AF,1,3,4.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN

In [5]:
cursos = pd.read_csv("SUP_CURSO_2019.csv", sep="|", encoding='ISO-8859-1')

cursos_df = cursos[cursos["CO_IES"].isin(ies_df_codigos)]

cursos_df.to_csv('SUP_CURSO_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)
cursos_df

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_LOCAL_OFERTA,CO_UF,CO_MUNICIPIO,IN_CAPITAL,CO_CURSO,NO_CURSO,...,QT_VAGAS_ANUAL_VESPERTINO,QT_VAGAS_ANUAL_NOTURNO,QT_VAGAS_ANUAL_EAD,QT_MATRICULA_TOTAL,QT_CONCLUINTE_TOTAL,QT_INGRESSO_TOTAL,QT_INGRESSO_VAGA_NOVA,QT_INGRESSO_PROCESSO_SELETIVO,QT_VAGA_TOTAL,QT_INSCRITO_TOTAL
114,2019,2,1,1,4229.0,53.0,5300108.0,1.0,116,GEOLOGIA,...,NaN,NaN,NaN,271,29,65,55,NaN,78,216
115,2019,2,1,1,4229.0,53.0,5300108.0,1.0,119,ESTATÍSTICA,...,NaN,NaN,NaN,296,23,88,80,NaN,96,287
116,2019,2,1,1,4229.0,53.0,5300108.0,1.0,122,CIÊNCIAS ECONÔMICAS,...,NaN,NaN,NaN,470,84,139,98,NaN,130,611
117,2019,2,1,1,4229.0,53.0,5300108.0,1.0,126,SERVIÇO SOCIAL,...,NaN,NaN,NaN,326,51,78,76,NaN,82,480
118,2019,2,1,1,4229.0,53.0,5300108.0,1.0,127,CIÊNCIA DA COMPUTAÇÃO,...,NaN,NaN,NaN,360,25,104,78,NaN,102,863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40432,2019,21446,5,3,1074805.0,53.0,5300108.0,1.0,1442048,ENFERMAGEM,...,NaN,NaN,NaN,42,0,56,56,NaN,108,60
40473,2019,21672,4,3,1076695.0,53.0,5300108.0,1.0,1353192,GESTÃO PÚBLICA,...,NaN,NaN,NaN,159,47,79,79,NaN,90,150
40474,2019,21672,4,3,1076695.0,53.0,5300108.0,1.0,1353193,SECRETARIADO,...,NaN,NaN,NaN,19,2,12,12,NaN,90,90
40662,2019,22326,4,3,1081748.0,53.0,5300108.0,1.0,1396661,DIREITO,...,NaN,NaN,NaN,72,0,83,83,NaN,180,110
40705,2019,23725,2,3,1096330.0,53.0,5300108.0,1.0,1454890,GESTÃO PÚBLICA,...,NaN,NaN,NaN,35,0,58,19,NaN,60,168

In [6]:
alunos_df = alunos[alunos["CO_IES"].isin(ies_df_codigos)]

alunos_df = alunos_df.drop(columns=['NU_ANO_CENSO', 'CO_CURSO_POLO', 'CO_CINE_ROTULO', 'CO_ALUNO_CURSO_ORIGEM', 'NU_IDADE', 'TP_NACIONALIDADE', 'CO_UF_NASCIMENTO', 'CO_MUNICIPIO_NASCIMENTO', 'IN_DEFICIENCIA_AUDITIVA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_INTELECTUAL', 'IN_DEFICIENCIA_MULTIPLA', 'IN_DEFICIENCIA_SURDEZ', 'IN_DEFICIENCIA_SURDOCEGUEIRA', 'IN_DEFICIENCIA_BAIXA_VISAO', 'IN_DEFICIENCIA_CEGUEIRA', 'IN_DEFICIENCIA_SUPERDOTACAO', 'IN_TGD_AUTISMO', 'IN_TGD_SINDROME_ASPERGER', 'IN_TGD_SINDROME_RETT', 'IN_TGD_TRANSTOR_DESINTEGRATIVO', 'IN_INGRESSO_VESTIBULAR', 'IN_INGRESSO_ENEM', 'IN_INGRESSO_AVALIACAO_SERIADA', 'IN_INGRESSO_SELECAO_SIMPLIFICA', 'IN_INGRESSO_OUTRO_TIPO_SELECAO', 'IN_INGRESSO_VAGA_REMANESC', 'IN_INGRESSO_VAGA_PROG_ESPECIAL', 'IN_INGRESSO_TRANSF_EXOFFICIO', 'IN_INGRESSO_DECISAO_JUDICIAL', 'IN_INGRESSO_CONVENIO_PECG', 'IN_INGRESSO_EGRESSO', 'IN_INGRESSO_OUTRA_FORMA', 'IN_RESERVA_VAGAS', 'IN_RESERVA_ETNICO', 'IN_RESERVA_DEFICIENCIA', 'IN_RESERVA_ENSINO_PUBLICO', 'IN_RESERVA_RENDA_FAMILIAR', 'IN_RESERVA_OUTRA', 'IN_FIN_REEMB_FIES', 'IN_FIN_REEMB_ESTADUAL', 'IN_FIN_REEMB_MUNICIPAL', 'IN_FIN_REEMB_PROG_IES', 'IN_FIN_REEMB_ENT_EXTERNA', 'IN_FIN_REEMB_OUTRA', 'IN_FIN_NAOREEMB_PROUNI_INTEGR', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL', 'IN_FIN_NAOREEMB_ESTADUAL', 'IN_FIN_NAOREEMB_MUNICIPAL', 'IN_FIN_NAOREEMB_PROG_IES', 'IN_FIN_NAOREEMB_ENT_EXTERNA', 'IN_FIN_NAOREEMB_OUTRA', 'IN_INGRESSO_VAGA_NOVA', 'IN_INGRESSO_PROCESSO_SELETIVO'])
alunos_df = alunos_df.fillna(0)

alunos_df.to_csv('SUP_ALUNO_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)

In [ ]:
print(alunos.shape)