In [1]:
import pandas as pd

In [2]:
alunos = pd.read_csv("..\Dados\SUP_ALUNO_2019.csv", sep="|", encoding='ISO-8859-1')

print(alunos.head())
print(alunos.shape)
print(alunos.columns)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   NU_ANO_CENSO  CO_IES  TP_CATEGORIA_ADMINISTRATIVA  \
0          2019       1                            1
1          2019       1                            1
2          2019       1                            1
3          2019       1                            1
4          2019       1                            1

   TP_ORGANIZACAO_ACADEMICA  CO_CURSO  CO_CURSO_POLO  TP_TURNO  \
0                         1         1            NaN       3.0
1                         1         1            NaN       3.0
2                         1         1            NaN       3.0
3                         1         1            NaN       3.0
4                         1         1            NaN       3.0

   TP_GRAU_ACADEMICO  TP_MODALIDADE_ENSINO  TP_NIVEL_ACADEMICO  ...  \
0                1.0                     1                   1  ...
1                1.0                     1                   1  ...
2                1.0                     1                   1  ...
3                1.0                     1                   1  ...
4                1.0                     1                   1  ...

  TP_MOBILIDADE_ACADEMICA TP_MOBILIDADE_ACADEMICA_INTERN  CO_IES_DESTINO  \
0                     NaN                            NaN             NaN
1                     NaN                            NaN             NaN
2                     NaN                            NaN             NaN
3                     NaN                            NaN             NaN
4                     NaN                            NaN             NaN

   CO_PAIS_DESTINO  IN_MATRICULA  IN_CONCLUINTE  IN_INGRESSO_TOTAL  \
0              NaN             1              0                  0
1              NaN             0              0                  0
2              NaN             1              0                  0
3              NaN             0              0                  0
4              NaN             1              1                  0

   IN_INGRESSO_VAGA_NOVA  IN_INGRESSO_PROCESSO_SELETIVO  NU_ANO_INGRESSO
0                      0                            NaN             2017
1                      0                            NaN             2016
2                      0                            NaN             2012
3                      0                            NaN             2015
4                      0                            NaN             2013

[5 rows x 105 columns]
(12350832, 105)
Index(['NU_ANO_CENSO', 'CO_IES', 'TP_CATEGORIA_ADMINISTRATIVA',
       'TP_ORGANIZACAO_ACADEMICA', 'CO_CURSO', 'CO_CURSO_POLO', 'TP_TURNO',
       'TP_GRAU_ACADEMICO', 'TP_MODALIDADE_ENSINO', 'TP_NIVEL_ACADEMICO',
       ...
       'TP_MOBILIDADE_ACADEMICA', 'TP_MOBILIDADE_ACADEMICA_INTERN',
       'CO_IES_DESTINO', 'CO_PAIS_DESTINO', 'IN_MATRICULA', 'IN_CONCLUINTE',
       'IN_INGRESSO_TOTAL', 'IN_INGRESSO_VAGA_NOVA',
       'IN_INGRESSO_PROCESSO_SELETIVO', 'NU_ANO_INGRESSO'],
      dtype='object', length=105)

In [4]:
ies = pd.read_csv("..\Dados\SUP_IES_2019.csv", sep="|", encoding='ISO-8859-1')

ies = ies.drop(columns=['NU_ANO_CENSO','CO_MANTENEDORA','NO_MANTENEDORA','CO_REGIAO','CO_MUNICIPIO','IN_CAPITAL','QT_TEC_TOTAL','QT_TEC_FUNDAMENTAL_INCOMP_FEM','QT_TEC_FUNDAMENTAL_INCOMP_MASC','QT_TEC_FUNDAMENTAL_COMP_FEM','QT_TEC_FUNDAMENTAL_COMP_MASC','QT_TEC_MEDIO_FEM','QT_TEC_MEDIO_MASC','QT_TEC_SUPERIOR_FEM','QT_TEC_SUPERIOR_MASC','QT_TEC_ESPECIALIZACAO_FEM','QT_TEC_ESPECIALIZACAO_MASC','QT_TEC_MESTRADO_FEM','QT_TEC_MESTRADO_MASC','QT_TEC_DOUTORADO_FEM','QT_TEC_DOUTORADO_MASC','IN_ACESSO_PORTAL_CAPES','IN_ACESSO_OUTRAS_BASES','IN_ASSINA_OUTRA_BASE','IN_REPOSITORIO_INSTITUCIONAL','IN_BUSCA_INTEGRADA','IN_SERVICO_INTERNET','IN_PARTICIPA_REDE_SOCIAL','IN_CATALOGO_ONLINE','QT_PERIODICO_ELETRONICO','QT_LIVRO_ELETRONICO','TP_REFERENTE','VL_RECEITA_PROPRIA','VL_RECEITA_TRANSFERENCIA','VL_RECEITA_OUTRA','VL_DESPESA_PESSOAL_DOCENTE','VL_DESPESA_PESSOAL_TECNICO','VL_DESPESA_PESSOAL_ENCARGO','VL_DESPESA_CUSTEIO','VL_DESPESA_INVESTIMENTO','VL_DESPESA_PESQUISA','VL_DESPESA_OUTRA'])
ies_df = ies[ies["CO_UF"] == 53]
ies_df_codigos = ies_df["CO_IES"].values.tolist()

ies_df.to_csv('..\Dados\SUP_IES_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)
ies_df

,CO_IES,NO_IES,SG_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_UF
1,2,UNIVERSIDADE DE BRASÍLIA,UNB,1,1,53
13,19229,FACULDADE PRESBITERIANA MACKENZIE BRASILIA,FPMB,5,3,53
350,402,CENTRO UNIVERSITÁRIO DE BRASÍLIA,UNICEUB,5,2,53
353,403,UNIVERSIDADE CATÓLICA DE BRASÍLIA,UCB,5,1,53
355,404,FACULDADES INTEGRADAS DA UPIS,UPIS,5,3,53
...,...,...,...,...,...,...
2449,21201,FTRB - Faculdade Teológica Reformada de Brasília,NaN,5,3,53
2467,21446,Instituto Superior da Convenção Nac. das Assem...,ISCON,5,3,53
2489,21672,Faculdade Cerrado,FACE,4,3,53
2581,23725,Escola Superior de Gestão,ESGe,2,3,53
2590,22326,Faculdade Brasília,FBr,4,3,53

In [5]:
docentes = pd.read_csv("..\Dados\SUP_DOCENTE_2019.csv", sep="|", encoding='ISO-8859-1')

docentes = docentes.drop(columns=['NU_ANO_CENSO','TP_CATEGORIA_ADMINISTRATIVA','TP_ORGANIZACAO_ACADEMICA','CO_UF_NASCIMENTO','CO_MUNICIPIO_NASCIMENTO','IN_DEFICIENCIA','IN_DEFICIENCIA_CEGUEIRA','IN_DEFICIENCIA_BAIXA_VISAO','IN_DEFICIENCIA_SURDEZ','IN_DEFICIENCIA_AUDITIVA','IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_SURDOCEGUEIRA','IN_DEFICIENCIA_MULTIPLA','IN_DEFICIENCIA_INTELECTUAL','IN_ATUACAO_EAD','IN_ATUACAO_EXTENSAO','IN_ATUACAO_GESTAO','IN_ATUACAO_GRAD_PRESENCIAL','IN_ATUACAO_POS_EAD','IN_ATUACAO_POS_PRESENCIAL','IN_ATUACAO_SEQUENCIAL','IN_ATUACAO_PESQUISA','IN_BOLSA_PESQUISA','IN_SUBSTITUTO','IN_EXERCICIO_DATA_REFERENCIA','IN_VISITANTE','TP_VISITANTE_IFES_VINCULO'])
docentes_df = docentes[docentes["CO_IES"].isin(ies_df_codigos)]

docentes_df.to_csv('..\Dados\SUP_DOCENTE_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)
docentes_df

,CO_IES,CO_DOCENTE_IES,ID_DOCENTE,TP_SITUACAO,TP_ESCOLARIDADE,TP_REGIME_TRABALHO,TP_SEXO,NU_ANO_NASCIMENTO,NU_MES_NASCIMENTO,NU_DIA_NASCIMENTO,NU_IDADE,TP_COR_RACA,CO_PAIS_ORIGEM,TP_NACIONALIDADE
2360,2,1294550,3DF061642E3E30DF334AFF1FCDB275A7,1,5,1.0,2,1966,8,18,53,0,76,1
2361,2,1292727,76A49E2637DD1B190FB8018B84A800B9,1,5,1.0,2,1967,8,1,52,1,76,1
2362,2,1293629,96B03CD0F1818077675B44A23CAF9271,1,5,1.0,2,1962,10,18,57,1,76,1
2363,2,1293969,4C8312AAA56B6C7FFC08ACBE9BCAA810,1,4,1.0,2,1957,1,13,62,0,76,1
2364,2,1291977,0E84607DD2B320390EBAA3A89B55E446,1,5,1.0,2,1950,1,25,69,1,76,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399395,23725,1343355,3FB8604F420712C6A2B7570F77E6BBD0,1,3,4.0,2,1975,6,11,44,0,76,1
399396,23725,1343317,B9E4454E745DCBB03EE9132AD5038D17,1,2,1.0,1,1980,11,16,39,2,76,1
399397,23725,1343320,36F9A8C6B336EC755E0B3C584D8A7EFB,1,3,4.0,2,1968,7,17,51,0,76,1
399398,23725,1343321,7EBFC7D7772A2CDDF05481C72784317C,1,3,4.0,2,1967,9,27,52,0,76,1
399399,23725,1343322,DB1C16406A861DABCB9156B7926986AF,1,3,4.0,1,1971,11,29,48,0,76,1

In [6]:
cursos = pd.read_csv("..\Dados\SUP_CURSO_2019.csv", sep="|", encoding='ISO-8859-1')

cursos = cursos.drop(columns=['NU_ANO_CENSO','TP_CATEGORIA_ADMINISTRATIVA','TP_ORGANIZACAO_ACADEMICA','CO_CINE_ROTULO','TP_MODALIDADE_ENSINO','TP_NIVEL_ACADEMICO','IN_GRATUITO','TP_ATRIBUTO_INGRESSO','NU_CARGA_HORARIA','DT_INICIO_FUNCIONAMENTO','DT_AUTORIZACAO_CURSO','IN_AJUDA_DEFICIENTE','IN_MATERIAL_DIGITAL','IN_MATERIAL_AMPLIADO','IN_MATERIAL_TATIL','IN_MATERIAL_IMPRESSO','IN_MATERIAL_AUDIO','IN_MATERIAL_BRAILLE','IN_MATERIAL_LIBRAS','IN_DISCIPLINA_LIBRAS','IN_TRADUTOR_LIBRAS','IN_GUIA_INTERPRETE','IN_RECURSOS_COMUNICACAO','IN_RECURSOS_INFORMATICA','IN_INTEGRAL','IN_MATUTINO','IN_VESPERTINO','IN_NOTURNO','NU_INTEGRALIZACAO_INTEGRAL','NU_INTEGRALIZACAO_MATUTINO','NU_INTEGRALIZACAO_VESPERTINO','NU_INTEGRALIZACAO_NOTURNO','NU_INTEGRALIZACAO_EAD','IN_OFERECE_DISC_SEMI_PRES','NU_PERC_CARGA_SEMI_PRES','IN_POSSUI_LABORATORIO','QT_INSC_VAGA_NOVA_INTEGRAL','QT_INSC_VAGA_NOVA_MATUTINO','QT_INSC_VAGA_NOVA_VESPERTINO','QT_INSC_VAGA_NOVA_NOTURNO','QT_INSC_VAGA_NOVA_EAD','QT_INSC_VAGA_REMAN_INTEGRAL','QT_INSC_VAGA_REMAN_MATUTINO','QT_INSC_VAGA_REMAN_VESPERTINO','QT_INSC_VAGA_REMAN_NOTURNO','QT_INSC_VAGA_REMAN_EAD','QT_INSC_PROG_ESP_INTEGRAL','QT_INSC_PROG_ESP_MATUTINO','QT_INSC_PROG_ESP_VESPERTINO','QT_INSC_PROG_ESP_NOTURNO','QT_INSC_PROG_ESP_EAD','QT_INSC_PRINCIPAL_INTEGRAL','QT_INSC_PRINCIPAL_MATUTINO','QT_INSC_PRINCIPAL_VESPERTINO','QT_INSC_PRINCIPAL_NOTURNO','QT_INSC_PRINCIPAL_EAD','QT_INSC_OUTRA_VAGA_INTEGRAL','QT_INSC_OUTRA_VAGA_MATUTINO','QT_INSC_OUTRA_VAGA_VESPERTINO','QT_INSC_OUTRA_VAGA_NOTURNO','QT_INSC_OUTRA_VAGA_EAD','QT_INSC_ANUAL_INTEGRAL','QT_INSC_ANUAL_MATUTINO','QT_INSC_ANUAL_VESPERTINO','QT_INSC_ANUAL_NOTURNO','QT_INSC_ANUAL_EAD','QT_VAGAS_NOVAS_INTEGRAL','QT_VAGAS_NOVAS_MATUTINO','QT_VAGAS_NOVAS_VESPERTINO','QT_VAGAS_NOVAS_NOTURNO','QT_VAGAS_NOVAS_EAD','QT_VAGAS_REMAN_INTEGRAL','QT_VAGAS_REMAN_MATUTINO','QT_VAGAS_REMAN_VESPERTINO','QT_VAGAS_REMAN_NOTURNO','QT_VAGAS_REMAN_EAD','QT_VAGAS_PROG_ESP_INTEGRAL','QT_VAGAS_PROG_ESP_MATUTINO','QT_VAGAS_PROG_ESP_VESPERTINO','QT_VAGAS_PROG_ESP_NOTURNO','QT_VAGAS_PROG_ESP_EAD','QT_VAGAS_PRINCIPAL_INTEGRAL','QT_VAGAS_PRINCIPAL_MATUTINO','QT_VAGAS_PRINCIPAL_VESPERTINO','QT_VAGAS_PRINCIPAL_NOTURNO','QT_VAGAS_PRINCIPAL_EAD','QT_VAGAS_OUTRAS_INTEGRAL','QT_VAGAS_OUTRAS_MATUTINO','QT_VAGAS_OUTRAS_VESPERTINO','QT_VAGAS_OUTRAS_NOTURNO','QT_VAGAS_OUTRAS_EAD','QT_VAGAS_ANUAL_INTEGRAL','QT_VAGAS_ANUAL_MATUTINO','QT_VAGAS_ANUAL_VESPERTINO','QT_VAGAS_ANUAL_NOTURNO','QT_VAGAS_ANUAL_EAD','QT_MATRICULA_TOTAL','QT_CONCLUINTE_TOTAL','QT_INGRESSO_TOTAL','QT_INGRESSO_VAGA_NOVA','QT_INGRESSO_PROCESSO_SELETIVO','QT_VAGA_TOTAL','QT_INSCRITO_TOTAL'])
cursos_df = cursos[cursos["CO_IES"].isin(ies_df_codigos)]

cursos_df.to_csv('..\Dados\SUP_CURSO_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)
cursos_df

,CO_IES,CO_LOCAL_OFERTA,CO_UF,CO_MUNICIPIO,IN_CAPITAL,CO_CURSO,NO_CURSO,TP_SITUACAO,TP_GRAU_ACADEMICO
114,2,4229.0,53.0,5300108.0,1.0,116,GEOLOGIA,1,1.0
115,2,4229.0,53.0,5300108.0,1.0,119,ESTATÍSTICA,1,1.0
116,2,4229.0,53.0,5300108.0,1.0,122,CIÊNCIAS ECONÔMICAS,1,1.0
117,2,4229.0,53.0,5300108.0,1.0,126,SERVIÇO SOCIAL,1,1.0
118,2,4229.0,53.0,5300108.0,1.0,127,CIÊNCIA DA COMPUTAÇÃO,1,1.0
...,...,...,...,...,...,...,...,...,...
40432,21446,1074805.0,53.0,5300108.0,1.0,1442048,ENFERMAGEM,1,1.0
40473,21672,1076695.0,53.0,5300108.0,1.0,1353192,GESTÃO PÚBLICA,1,3.0
40474,21672,1076695.0,53.0,5300108.0,1.0,1353193,SECRETARIADO,1,3.0
40662,22326,1081748.0,53.0,5300108.0,1.0,1396661,DIREITO,1,1.0
40705,23725,1096330.0,53.0,5300108.0,1.0,1454890,GESTÃO PÚBLICA,1,3.0

In [7]:
alunos_df = alunos[alunos["CO_IES"].isin(ies_df_codigos)]

alunos_df = alunos_df.drop(columns=['NU_ANO_CENSO','TP_CATEGORIA_ADMINISTRATIVA','TP_ORGANIZACAO_ACADEMICA','CO_CURSO_POLO','TP_TURNO','TP_MODALIDADE_ENSINO','TP_NIVEL_ACADEMICO','CO_CINE_ROTULO','CO_ALUNO_CURSO_ORIGEM','CO_PAIS_ORIGEM','CO_MUNICIPIO_NASCIMENTO','IN_DEFICIENCIA_AUDITIVA','IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_INTELECTUAL','IN_DEFICIENCIA_MULTIPLA','IN_DEFICIENCIA_SURDEZ','IN_DEFICIENCIA_SURDOCEGUEIRA','IN_DEFICIENCIA_BAIXA_VISAO','IN_DEFICIENCIA_CEGUEIRA','IN_DEFICIENCIA_SUPERDOTACAO','IN_TGD_AUTISMO','IN_TGD_SINDROME_ASPERGER','IN_TGD_SINDROME_RETT','IN_TGD_TRANSTOR_DESINTEGRATIVO','QT_CARGA_HORARIA_TOTAL','QT_CARGA_HORARIA_INTEG','DT_INGRESSO_CURSO','IN_INGRESSO_SELECAO_SIMPLIFICA','IN_INGRESSO_OUTRO_TIPO_SELECAO','IN_INGRESSO_VAGA_REMANESC','IN_INGRESSO_VAGA_PROG_ESPECIAL','IN_INGRESSO_TRANSF_EXOFFICIO','IN_INGRESSO_DECISAO_JUDICIAL','IN_INGRESSO_CONVENIO_PECG','IN_INGRESSO_EGRESSO','IN_INGRESSO_OUTRA_FORMA','IN_RESERVA_VAGAS','IN_RESERVA_ETNICO','IN_RESERVA_DEFICIENCIA','IN_RESERVA_ENSINO_PUBLICO','IN_RESERVA_RENDA_FAMILIAR','IN_RESERVA_OUTRA','IN_FINANCIAMENTO_ESTUDANTIL','IN_FIN_REEMB_FIES','IN_FIN_REEMB_ESTADUAL','IN_FIN_REEMB_MUNICIPAL','IN_FIN_REEMB_PROG_IES','IN_FIN_REEMB_ENT_EXTERNA','IN_FIN_REEMB_OUTRA','IN_FIN_NAOREEMB_PROUNI_INTEGR','IN_FIN_NAOREEMB_PROUNI_PARCIAL','IN_FIN_NAOREEMB_ESTADUAL','IN_FIN_NAOREEMB_MUNICIPAL','IN_FIN_NAOREEMB_PROG_IES','IN_FIN_NAOREEMB_ENT_EXTERNA','IN_FIN_NAOREEMB_OUTRA','IN_APOIO_ALIMENTACAO','IN_APOIO_BOLSA_PERMANENCIA','IN_APOIO_BOLSA_TRABALHO','IN_APOIO_MATERIAL_DIDATICO','IN_APOIO_MORADIA','IN_APOIO_TRANSPORTE','IN_ATIVIDADE_EXTRACURRICULAR','IN_BOLSA_ESTAGIO','IN_ALUNO_PARFOR','IN_MOBILIDADE_ACADEMICA','TP_MOBILIDADE_ACADEMICA','TP_MOBILIDADE_ACADEMICA_INTERN','CO_IES_DESTINO','CO_PAIS_DESTINO','IN_INGRESSO_TOTAL','IN_INGRESSO_VAGA_NOVA','IN_INGRESSO_PROCESSO_SELETIVO'])
alunos_df = alunos_df.fillna(0)

alunos_df.to_csv('..\Dados\SUP_ALUNO_2019_DF.csv', sep=";", encoding='ISO-8859-1', index = False)